upstream {{ servername }} {
  {% for upstream in upstreams %}
  server {{ upstreams[upstream]  }};
  {% endfor %}
}

server {
    listen       {{ nginx_port }};
    listen  [::]:{{ nginx_port }};
    server_name {{ servername }}.{{ domain }};

    charset UTF-8;

    #access_log  /var/log/nginx/host.access.log  main;

    location / {
        root   {{ index_path }};
        index  index.html index.htm;
        try_files $uri /index.html;
        proxy_pass http://{{ servername }};
    }

    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    # proxy the PHP scripts to Apache listening on 127.0.0.1:80
    #
    #location ~ \.php$ {
    #    proxy_pass   http://127.0.0.1;
    #}

    # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
    #
    #location ~ \.php$ {
    #    root           html;
    #    fastcgi_pass   127.0.0.1:9000;
    #    fastcgi_index  index.php;
    #    fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
    #    include        fastcgi_params;
    #}

    # deny access to .htaccess files, if Apache's document root
    # concurs with nginx's one
    #
    #location ~ /\.ht {
    #    deny  all;

}