<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<head>
<title>Welcome, BRO!</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>Эта страница расположена на сервере {{ servers[inventory_hostname] }}.{{ domain }}</h1>
<p>Если ты видишь это сообщение, то это значит я успешно выполнил задание 3.4</p>

<p>Буду рад любым замечаниям.
</p>

<p><em></em></p>
</body>
</html>
